.cabecera{
    color: rgb(127, 123, 123);
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

.subtitulo{
    align-content: flex-start;
    font-family: 'Nunito', sans-serif;
    float: left;
    padding-left : 8%;
    padding-right: 8%;
    padding-top: 2%;
}

select{
    border: 2px solid #666666;
    font-size: 15px;
    height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 12px;
}

h1, h2, h3, h4, option, caption {
	font-family: 'Nunito', sans-serif;
    color: rgb(127, 123, 123);
}

.ht_master tr:nth-of-type(even) > td {
    background-color: rgb(196, 194, 191);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-align: center; 
}

.ht_master tr:nth-child(3) > td , .ht_master tr:nth-child(5) > td ,.ht_master tr:nth-child(7) > td {
    background-color: rgb(255, 255, 255);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-align: center; 
}

.ht_master tr:nth-child(1) > td {
    color: white;
    background-color: #707070; 
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-align: center;
}

.ht_master tr > td {
    border: 1px solid  rgb(255, 255, 255);
}

.row{
    margin: 1%;
}

.container{
    min-width: 90%;
}

